In [1]:
import numpy as np
import pandas as pd

In [2]:
college=pd.read_csv('./college.csv')

In [3]:
infra=pd.read_csv('./infrastructure.csv')

In [4]:
infra.head()

,Unnamed: 0,id,no_of_libraries,no_of_laboratories,no_of_conference_halls,no_of_health_centers,no_of_computer_centers
0,0,185131,1.0,3.0,1.0,0.0,1.0
1,1,202094,1.0,0.0,0.0,0.0,1.0
2,2,197414,1.0,1.0,1.0,1.0,1.0
3,3,164444,1.0,4.0,1.0,0.0,1.0
4,4,188887,1.0,0.0,1.0,1.0,1.0

In [5]:
college=college.drop(columns=['Unnamed: 0'])
infra=infra.drop(columns='Unnamed: 0')

In [6]:
# college['ranking']=0
# college['PTR ratio']=0

In [7]:
# college['Students_enrolled']=0

In [22]:
# college.loc[college['Total_faculty'].idmin()]
college['Students_Placed'].min()

646.0

In [9]:
college.head()

,id,city,state_code,university_id,no_of_student_hostel,name,infrastructure_id,latitude,longitude,offers_scholarship,...,Phd_students,Total_students,Phd_teacher,Total_faculty,Publications,Patent,No_gradutaes,other_state_student,Foreign-student,Students_Placed
0,34256,South City,27,298,0,Yash Institute of Pharmacy waluj road Aurangabad,189205,19.530001,75.230001,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55441,DHANBAD,20,212,0,Binod bihari Mahato Memorial teachers Training...,209799,23.897079,86.225714,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22449,Tohana,6,160,2,"Defence College of Educaton, Tohana",209800,29.661677,75.835685,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13438,DHAMPUR,9,525,0,"Dhampur Degree College, Dhampur",209801,29.364001,78.469000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13376,dhampur,9,525,0,"Dhampur Law College, Dhampur",209802,29.369000,78.469000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
for index, row in college.iterrows():
    
    if pd.isnull(college.iloc[index]['Phd_students']):
        college.ix[index,'Phd_students']=np.random.randint(1,10)
        
    if pd.isnull(college.iloc[index]['Total_students']):
        college.ix[index,'Total_students']=np.random.randint(1000,3000)
        
    if pd.isnull(college.iloc[index]['Phd_teacher']):
        college.ix[index,'Phd_teacher']=np.random.randint(2,20)
        
    if pd.isnull(college.iloc[index]['Total_faculty']):
        college.ix[index,'Total_faculty']=np.random.randint(50,200)
        
    if pd.isnull(college.iloc[index]['Publications']):
        college.ix[index,'Publications']=np.random.randint(0,100)
        
    if pd.isnull(college.iloc[index]['Patent']):
        college.ix[index,'Patent']=np.random.randint(0,20)
        
    if pd.isnull(college.iloc[index]['No_gradutaes']):
        college.ix[index,'No_gradutaes']=np.random.randint(1000,1500)
        
    if pd.isnull(college.iloc[index]['other_state_student']):
        college.ix[index,'other_state_student']=np.random.randint(0,50)
        
    if pd.isnull(college.iloc[index]['Foreign-student']):
        college.ix[index,'Foreign-student']=np.random.randint(0,150)
        
    if pd.isnull(college.iloc[index]['Students_Placed']):
        college.ix[index,'Students_Placed']=np.random.randint(500,1500)

/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:13: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:16: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:19: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:22: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:25: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:28: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/home/ambika/.local/lib/python3.6/site-packages/ipykernel_launcher.py:31: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [11]:
# college['Phd_students'].fillna("NaN").size().reset_index(name="count")

TypeError: 'int' object is not callable

In [ ]:
# college.isnull().sum()

In [ ]:
# col=[
#     ('no_of_libraries',2),
#     ('no_of_laboratories',4),
#     ('no_of_conference_halls',1),
#     ('no_of_health_centers',3),
#     ('no_of_computer_centers',5)]

In [ ]:
# for index, row in college.iterrows():
#     id=college.loc[index]['infrastructure_id']
    
#     infra_values=infra[infra['id']==id][[x[0] for x in col]].values
#     if len(infra_values)>0:
#         factor = 0
#         for i,weight in zip(infra_values[0],[x[1] for x in col]):
#             factor+=(i*weight)
#         hostel=college.iloc[index]['no_of_student_hostel'] 
#         factor=factor/5
#         if factor+hostel is not 0:
#             college.ix[index,'ranking']=factor+hostel
#         else:
#             college.ix[index,'ranking']=1
#     else:
#         college.ix[index,'ranking']=1
#     college.ix[index,'PTR ratio']=np.random.randint(9,12)

In [23]:
# college['Phd_students'].isnull()

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
35157    True
35158    True
35159    True
35160    True
35161    True
35162    True
35163    True
35164    True
35165    True
35166    True
35167    True
35168    True
35169    True
35170    True
35171    True
35172    True
35173    True
35174    True
35175    True
35176    True
35177    True
35178    True
35179    True
35180    True
35181    True
35182    True
35183    True
35184    True
35185    True
35186    True
Name: Phd_students, Length: 35187, dtype: bool

In [ ]:
# for index, row in college.iterrows():
#     college.ix[index,'Students_enrolled']=np.random.randint(500,1000)

In [ ]:
# college.head()

In [36]:
college['Phd_students'].iloc[0]

nan

In [47]:
temp = college['Phd_students'].iloc[0]
print(type(temp))

<class 'numpy.float64'>

In [50]:
pd.isnull(college['Phd_students'].iloc[0])
￼

True

In [52]:
college.head()

,id,city,state_code,university_id,no_of_student_hostel,name,infrastructure_id,latitude,longitude,offers_scholarship,...,Total_students,Phd_teacher,Total_faculty,Publications,Patent,No_gradutaes,other_state_student,Foreign-student,Students_Placed,Students_enrolled
0,34256,South City,27,298,0,Yash Institute of Pharmacy waluj road Aurangabad,189205,19.530001,75.230001,1,...,2723.0,15.0,134.0,18.0,4.0,1232.0,2.0,24.0,1484.0,799.0
1,55441,DHANBAD,20,212,0,Binod bihari Mahato Memorial teachers Training...,209799,23.897079,86.225714,1,...,1334.0,13.0,183.0,53.0,2.0,1286.0,46.0,3.0,1198.0,895.0
2,22449,Tohana,6,160,2,"Defence College of Educaton, Tohana",209800,29.661677,75.835685,1,...,2163.0,12.0,62.0,73.0,10.0,1250.0,44.0,123.0,1036.0,989.0
3,13438,DHAMPUR,9,525,0,"Dhampur Degree College, Dhampur",209801,29.364001,78.469000,0,...,2433.0,13.0,103.0,80.0,5.0,1171.0,10.0,96.0,1194.0,502.0
4,13376,dhampur,9,525,0,"Dhampur Law College, Dhampur",209802,29.369000,78.469000,0,...,1607.0,19.0,166.0,77.0,6.0,1259.0,32.0,75.0,812.0,539.0

In [53]:
college.to_csv('updated_college.csv')